.div {
  height: 25px;
  width: 25px;
}

.row-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  border: 4px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}