#container {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.div {
  background-color: aquamarine;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.colored {
  background-color: #ffff00;
}

button {
  display: block;
  margin: 50px auto;
}